* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* styles */
body {
    /*background-size: 100% 100%;*/
    background: url(background.4010b1e0.png) no-repeat;
    height: 100vh;
    border: 1px solid transparent;
    /*overflow: hidden;*/
}

/*::-webkit-scrollbar{*/
/*    display:none*/
/*}*/

.globalHeader {
    margin: 26px;
}

@media (min-width: 864px) {
    .globalHeader {
        margin: 60px 0 100px;
    }
}

.searchForm {
    display: flex;

    justify-content: space-between;
}

/* PC端样式 */
@media (min-width: 864px) {
    .searchForm {
        max-width: 400px;
        /*margin: 0 auto;不安全*/
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 64px;
    }
}

.globalHeader input {
    width: 100%;
    margin-right: 16px;
    padding: 0 10px;
    border: 2px solid #70c1b3;
    border-radius: 4px;
    height: 40px;
}

.globalHeader button {
    white-space: nowrap;
    padding: 0 32px;
    border: 2px solid #ffe066;
    border-radius: 4px;
    background: #0282B9;
    font-size: 16px;
    color: white;
}

.globalHeader button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    color: #00aeff;
    background: #d9efff;
}

.globalMain {
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
}

.siteList {
    margin: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border: 1px solid red;*/
}

/*@media (max-width: 864px) {*/
/*    .siteList {*/
/*        justify-content: space-between;*/
/*    }*/
/*}*/

/* PC端样式 */
@media (min-width: 864px) {
    .siteList {
        margin-left: 0;
        margin-right: -26px;
        /* 覆盖原始justify-content，space-between只在移动端有效 */
        justify-content: flex-start;
    }
}

.siteList > li {
    margin-bottom: 20px;
    /*border: 1px solid blue;*/
}

@media (max-width: 864px) {
    .siteList > li {
        margin-right: 0;
    }
}

@media (min-width: 864px) {
    .siteList > li {
        margin-right: 26px;
    }
}

.siteList .site {
    width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px 0;
    position: relative;
    cursor: pointer;
}

.siteList .site > .logo {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    /* logo大写 */
    text-transform: uppercase;
}

.siteList .site > .link {
    font-size: 14px;
    margin-top: 4px;
}

.siteList .site > .close {
    position: absolute;
    right: 8px;
    top: 4px;
    display: none;
}

.siteList .site:hover > .close {
    display: block;
    /*cursor: default;*/
}

.siteList .addButton {
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: white;
    width: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.siteList .addButton .icon {
    width: 64px;
    height: 64px;
}

.siteList .addButton .text {
    font-size: 14px;
    margin-top: 4px;
}

.siteList .addButton .icon-wrapper {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.siteList .empty {*/
/*    width: 152px;*/
/*    height: 0;*/
/*}*/


/*# sourceMappingURL=style.e24f5a6f.css.map */